div {
    display:flex;
    width:100%;
    flex-direction:column;
    
    align-items:center;
    justify-content:center;
}
.colorbutton{
    display:flex;
    width:50px;


    flex-direction:row;
    align-items:center;

}
.colorbutton button{
    background-color:white;
    color:black;
    margin:10px;


}